body {
  background-color: #f4f5f7;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
}

.primary-color {
  color: #00796b;
}
.secondary-color {
  color: #9e9e9e;
}
.verticalMenu {
  display: flex;

  background-color: #242f49;
}

.verticalMenu h3 {
  padding: 0.5rem 2.5rem 0.5rem 2.5rem;
  color: #fff;
}

.section ul {
  padding: 0 0 0 0;
}

.section ul li {
  list-style: none;
}

.section ul li:first-child {
}

.section ul li:nth-child(2),
.section ul li:nth-child(5),
.section ul li:nth-child(7) {
  padding: 1rem 2.5rem 1rem 2.5rem;
  font-weight: bold;
  color: #fff;
}

.section ul li
{
    padding: 0.5rem 2.5rem 0.5rem 2.5rem;
}

.section ul li a {

  text-decoration: none;
  color: #9e9e9e;
}

.section ul li a:hover {
  
  color: #fff;
}

.section ul li a .uil {
  padding: 0 0.5rem 0 0;

  font-size: 1.5rem;
}
