.containerGeneral {
  display: flex;
  padding: 2rem;
}

/* formulaire */

label[for="cover"],
label[for="publication"],
label[for="summary"] {
  display: block;
}

.container {
  padding: 2rem;
  flex: 1;
  background-color: #fff;
  border: solid 1px #ccc;
}


