.containerGeneral {
  display: flex;
}
.container {
  padding: 0 2.5rem 0 2.5rem;
  flex: 1;
  background-color: #fff;
  border: solid 1px #ccc;
}
h1 {
  border-bottom: 1px #eee solid;
}

h1,
h2,
h3 {
  font-family: inherit;
  font-weight: 500;
}

/* formulaire */

form {
  background-color: #fff;
  padding: 2rem;
  border: solid 1px #ccc;
  box-shadow: 0 5px 10px 5px #ccc;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
}

.publication label,
.summary label {
  display: block;
}
.name,
.isbn,
.category,
.author,
.cover,
.publication,
.summary {
  padding: 0.745rem;
  font-weight: 500;
}
#btnAdd {
  align-self: flex-end;
  background-color: #fff;
  color: #006064;
  border: solid 1px #006064;
  padding: 0.5rem;
}

#btnAdd:hover {
  align-self: flex-end;
  color: #fff;
  background-color: #006064;
  border: solid 1px #ccc;
}

#nameEmpty,
#isbnEmpty,
#authorEmpty,
#coverEmpty,
#publicationEmpty,
#summaryEmpty,
#invalidCharacters,
#mustContain
{
  color: #b71c1c;
  display: none;
}
form input,
textarea,
select {
  border: solid 1px #ccc;
}

input,
textarea,
select {
  padding: 0.2rem;
  border-radius: 0.2rem;
  background-color: #eee;
}
form input[type="text"],
textarea {
  width: 100%;
  max-width: 100%;
}
